.idea/
codeCoverage/
vendor/
composer.lock
.php_cs.cache
.php-cs-fixer.php
.php-cs-fixer.cache
_ide_helper.php
.phpstorm.meta.php
coverage
coverage.xml
phpunit.local.xml
.phpunit.result.cache
.phpunit.cache/
composer.lock
/tests/_output
